.cart-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      color: #F6416C;
      width: 24px;
      height: 24px;
    }
  
    .item-count {
      color: #F6416C;
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 7px;
    }
  }

.option:hover {
    border-bottom: 3px solid #FFD369;
    transition: 0.4s fade ease;
}