.sign-in {
    width: 30vw;
}

label {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #F0A500;
}

h2 {
    margin-bottom: 10px;
    color: #F0FFC2;
}

span {
    margin-bottom: 15px;
}