.sign-in {
    width: 30vw;
}

label {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #F0A500;
}

h2 {
    margin-bottom: 10px;
    color: #F0FFC2;
}

span {
    margin-bottom: 15px;
}

.btn {
    width: max-content;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 18px;
    background-color: #FDFF8F;
    color: #212121;
    margin: 10px 50px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn:hover {
    color: #1B1A17;
    background-color: #F6416C;
    transition: 0.3s ease-in-out;
}