.checkout-item-container {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  
    .image-container {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name,
    .quantity,
    .price {
      width: 23%;
    }
  
    .quantity {
        color: greenyellow;
      display: flex;
  
      .arrow {
        cursor: pointer;
      }
  
      .value {
        margin: 0 10px;
      }
    }
  
    .remove-button {
      color: red;
    //   padding-left: 12px;
      cursor: pointer;
    }
  }
  

  .price {
      color: rgb(255, 166, 0);
  }

  .name {
      color: rgb(253, 11, 205);
  }

.remove-button:hover {
    font-size: 30px;
    transition: 0.2s ease-in-out;
}


.arrow:hover {
    transform: scale(1.7);
    transition: 0.2s ease-in-out;
}